@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFEA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* base styles */
* {
  margin: 0;
  /* font-family: "DM Serif Display"; */
  color: #562C2C;
}
.navbar {
  font-family: "DM Serif Display";
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  border-bottom: 1px solid #562C2C;
  background-color: #F5DFBB;
}
.navbar h1 {
  font-family: "DM Serif Display";
  color: #562C2C;
}
.navbar h3 {
  color: #F2542D;
}
.navbar .links {
  color: #562C2C;
  font-size: large;
  font-weight: 900;
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #F2542D;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.home-h2 {
  font-family: "DM Serif Display";
  color: #562C2C;
}

.artifact-preview {
  font-family: "Space Grotesk";
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid #562C2C;
}

.artifact-preview:hover {
  box-shadow: 7px 7px ;
}

.artifact-preview h2 {
  font-size: 22px;
  font-weight: 800;
  color: #F2542D;
  margin-bottom: 8px;
}

.artifact-preview a{
  text-decoration: none;
}

.artifact-details h2 {
  font-size: 60px;
  color: #F2542D;
  margin-bottom: 10px;
}
.artifact-details .para {
  font-family: "Space Grotesk";
  font-size: 20px;
  color: #562C2C;
  border: 1px solid;
  padding: 10px;
  /* margin-left: auto; */
}
.artifact-details .newdiv {
  font-family: "Space Grotesk";
  font-size: 30px;
  margin: 20px 0;
  border: 1px solid;
  padding: 10px;
}
.artifact-details button {
  font-size: 20px;
  font-family: "Space Grotesk";
  background: #FFFFEA;
  color: #562C2C;
  /* border: 0;
  padding: 8px;
  border-radius: 8px; */
  cursor: pointer;
  border: 1px solid;
  padding: 10px;
}

.artifact-details button:hover {
  box-shadow: 7px 7px ;
}


.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  font-family: "Space Grotesk";
  font-size: 20px;
}
.create h2 {
  font-family: "DM Serif Display";
  color: #562C2C;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #562C2C;
  box-sizing: border-box;
  display: block;
}

.create input:focus, .create textarea:focus, .create select:focus {
  outline: none;
}
.create button {
  /* background: white;
  color: #562C2C;
  /* border: 0;
  padding: 8px;
  border-radius: 8px; */
  /* cursor: pointer;
  border: 1px solid;
  padding: 10px; */
  font-family: "Space Grotesk";
  font-size: 20px;
  background: #FFFFEA;
  color: #562C2C;
  /* border: 0;
  padding: 8px;
  border-radius: 8px; */
  cursor: pointer;
  border: 1px solid;
  padding: 10px;
}

.not-found {
  font-family: "DM Serif Display";
  margin-top: 200px;
}

.not-found p {
  font-size: 20px;
}

.not-found{
  font-size: 20px;
  text-decoration: dotted;
  color: #F2542D;
}